/* breakpoints */
$md: 768px;
$lg: 1080px;

/* spacing */
$spacing-xs: 1rem;
$spacing: 1.5rem;
$spacing-sm: 2rem;
$spacing-md: 3rem;

$border-radius: 1rem;

/* content max width */
$content-max-width: 100rem;

$footer-gutter: 15rem;
