@import '@/styles/base/all';

.header {
    padding: $spacing-xs 0;
    background-color: $secondary;

    @media screen and (min-width: $lg) {
        padding: $spacing 0;
    }

    &__logo {
        display: block;
    }
}
